@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F4F7F9; /* Steel Grey */
    --foreground: #002D54; /* Deep Navy */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-orange selection:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
